
/* .buttonGrouping class used to make a button react when it's sibling is hovered over */ 
.buttonGrouping{
    text-decoration: none;
}

i.button_i,
img.button_i{
    display: inline-block;
    width: 14px;
    height: 15px;
    cursor: pointer;
    color: white;
    text-align: center;
}

img.button_i{
    text-indent: -9999px;
}

i.s-normal,
i.s-greyed,
i.button_i,
i.button_d,
i.button_placeholder,
i.button_close{
    color: #EEE;
    display: inline-block;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: left;
    font-style: normal;
    font-weight: normal;
    margin-left: 4px;
}

i.button_i{
    border-radius: 50%;
    background-color: #2E5486;
    text-indent: 8px;
    font-size: 15px;
    font-weight: bold;
}

i.button_i:hover{
    background-color: #4571A9;
}

i.button_i_active{
    opacity: 0.5;
}

i.button_d{
    border-radius: 30%;
    background-color: #555;
    text-indent: 6px;
    font-size: 14px;
}

i.button_d:hover{
    cursor: pointer;
    color: #FFF;
    background-color: #666;
}

i.button_placeholder{

}

i.s-normal,
i.s-greyed{
    background: #92ACBE;
    border-radius: 2px;
    text-align: center;
}

i.s-greyed {
    background: #C7D7E2;
    background: linear-gradient( -45deg, #C7D7E2 43%, #FFF 43%, #FFF 57%, #C7D7E2 57% ); 
}


/* These are blocks that get show/hidden when the i buttons are clicked */
.iExplanation{
    color: #888;
    margin-bottom: 10px;
}
