.wp-comcar-plugins .tab-content {
	display: none;
}
.wp-comcar-plugins .tab-content.tab-content-active {
	display: block;
}

.wp_comcar_plugins_setting {
	width: 100%;
	max-width: 900px;
}

.wp_comcar_plugins_setting-model_list_item {
	width: 100%;
	margin-bottom: 0.5em;
	padding-bottom: 0.5em;
	border-bottom: thin solid #CCC;
}
.wp_comcar_plugins_setting-model_list_item label span {
	display: inline-block;
	width: 200px;
}
